body {
    margin: auto;
    .navbar {
        background-color: #f8f0e3;
        justify-content: space-between;
        height: 10vh;
    }
    .container {
        text-decoration: none;
    }
}
.nav-link {
    text-decoration: none;
    color: black;
}

.playApple {
    position: absolute;
    right: 5vw;
}

.playStore {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #020636;
    color: white;
    margin-right: 10px;
    width: 150px;
    
}
.apple {
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
}
section{
    background-color: #040833;
    justify-content: flex-start;
    color: #f8f0e3;
    .solidbox{
        background-color: silver;
        border-radius: 5px;
        color: #f8f0e3;
        width: 300px;

    }
    .PlayWhite{
        background-color: #f8f0e3;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        width: 150px;
    }
    .girlTable{
        padding-top:100px ;
    }
}

.WhiteplayApple{
    display: flex;
   position: absolute;
   bottom: 9vw;
}
.PlayStore2{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
}
.Apple2{
    display: flex;
    background-color: #D65123;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    margin-left:10px ;
}
.container3{
    color: #020636;
    background-color:#F8F0E3;
    ;
}

