body {
    margin: auto;
    .navbar {
        background-color: #f8f0e3;
        justify-content: space-between;
        height: 10vh;
    }
    .container {
        text-decoration: none;
    }
}
.nav-link {
    text-decoration: none;
    color: black;
}

.playApple {
    position: absolute;
    right: 5vw;
}

.playStore {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #020636;
    color: white;
    margin-right: 10px;
    width: 130px;
}
.apple {
    border: 1px solid black;
    border-radius: 5px;
    width: 130px;
}
section {
    background-color: #040833;
    justify-content: flex-start;
    color: #f8f0e3;
    .solidbox {
        background-color: silver;
        border-radius: 5px;
        color: #f8f0e3;
        width: 300px;
    }
    .PlayWhite {
        background-color: #f8f0e3;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        width: 150px;
    }
    .girlTable {
        padding-top: 100px;
    }
}

.WhiteplayApple {
    display: flex;
    position: absolute;
    bottom: 9vw;
}
.PlayStore2 {
    background-color: #f8f0e3;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
}
.Apple2 {
    display: flex;
    background-color: #d65123;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 130px;
    margin-left: 10px;
}
.container3 {
    color: #020636;
    background-color: #f8f0e3;
    height: 1200px;
    .manTable {
        @media screen and (max-width: 996px) {
            display: none;
        }

        position: absolute;
        left: 10px;
        top: 770px;
    }

    .AboutUs {
        position: absolute;
        right: 10px;
        bottom: -650px;
    }

    p {
        line-height: 1.5;
        margin-top: 30px;
    }

    .WhiteplayApple3 {
        position: absolute;
        margin-bottom: 1000px;
        .PlayStore3 {
            background-color: #d65123;
            color: black;
            border: 1px solid;
            border-radius: 5px;
            width: 170px;
            margin-top: 70px;
            margin-left: 10px;
            height: 60px;
        }
        .Apple3 {
            background-color: #040833;
            color: white;
            border: 1px solid;
            border-radius: 5px;
            width: 170px;
            margin-left: 10px;
            height: 60px;
            margin-top: 70px;
            margin-left: 30px;
        }
    }
}
.image {
    position: absolute;
    top: 750px;
}
.Section-2 {
    height: 800px;
}

.ManAndWoman {
    margin: -250px;
    background-color: #f8f0e3;
    color: black;

    .rowAbout {
        height: 800px;

        .checkBox {
            width: 20px;
            height: 20px;
        }
            }
            button {
                @media screen and (max-width: 996px) {
                    display: flex;
                    width: 150px;
                    padding: 10px 10px 20px 10px;
                }
                margin-top: 5vh;
                width: 16vw;
                min-width: 16vw;
                height: 6vh;
                min-height: 6vh;
                color: #f8f0e3;
                background-color: #040833;
                border: 1px solid #040833;
                border-radius: 5px;
                border-bottom: #f8f0e3;
            }
        }

.manwoman{
    position: absolute;
top: 1750px;
}

    .text-center {
        background-image: url(/images/backgroundImg.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .playApple4 {
            justify-content: center;
        }
        .PlayStore4 {
            background-color: #d65123;
            color: #f8f0e3;
            border: 1px solid black;
            border-radius: 5px;
            height: 70px;
            width: 200px;
            padding: 0px 15px;
        }
        .Apple4 {
            background-color: #f8f0e3;
            color: #020636;
            border: 1px solid black;
            border-radius: 5px;
            height: 70px;
            width: 200px;
            margin-left: 10px;
            margin-left: 30px;
            padding: 10px 15px;
        }
    
.section4{
    background-color: #f8f0e3;
    color: #020636;
}
